<fieldset>
    {{!-- TITLE --}}
    <div class="form-group">
        <label for="entry-title">Title</label><br>
        <input class="form-control" id="entry-title" type="text" name="title" value="{{entry.title}}"/>
    </div>
    {{!-- TEXT --}}
    <div class="form-group">
        <label for="entry-content">What's up?</label>
        <textarea class="form-control" id="entry-content" name="content" rows="25">{{entry.content}}</textarea>
    </div>
    {{!-- BUTTON --}}
    <div class="form-group">
        <button type="submit">Save</button>
    </div>
</fieldset>