<fieldset>
    {{!-- TITLE --}}
    <div class="form-group">
        <label for="note-title">{{news.title}}</label><br>
    </div>
    {{!-- TEXT --}}
    <div class="form-group">
        <label for="note-content">Remarks</label>
        <textarea class="form-control" id="note-content" name="content" rows="25">{{news.remarks}}</textarea>
    </div>
    {{!-- BUTTON --}}
    <div class="form-group">
        <button type="submit">Save</button>
    </div>
</fieldset>