<div class="container-fluid">
    <div class="row">
        {{!-- TITLE --}}
        <div>
            <h1>{{news.title}}</h1>
        </div>
        <div>
            <h3>{{news.author}}</h3>
        </div>
        {{!-- TEXT --}}
        <div>
            <p>{{news.description}}</p>
        </div>
        {{!-- BUTTON --}}
        
    </div>
</div>